option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: wiki/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: wiki.settings
    - option_name: AWS_SECRET_KEY
      value: hdZfSApZ8Jwg/h1LgEdQPiyVdtHop0Z0fEfuA2c6
    - option_name: AWS_ACCESS_KEY_ID
      value: AKIAJUVGO372NVZTEBKA
